@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "remark-callouts/styles.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sora: "Sora", sans-serif;
    --font-reddit: "Reddit Sans", sans-serif;
    --color-dark: #1c1c1c;
}

#content-markdown h1, h2, h3, h4, h5, h6 {
    font-family: "Sora", sans-serif;
}

#content-markdown p {
    font-family: "Reddit Sans", sans-serif;
}


article h1, h2, h3, h4, h5, h6 {
	font-family: "Sora", sans-serif;
}

article p {
	font-family: "Reddit Sans", sans-serif;
}

figure {
	margin-top: 0;
	margin-bottom: 0;
}

pre code span {
  color: var(--shiki-light);
}

html.dark pre code span {
  color: var(--shiki-dark);
}

pre {
  background-color: var(--shiki-light-bg);
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0.375rem;
	border-bottom-right-radius: 0.375rem;	
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

html.dark pre {
  background-color: var(--shiki-dark-bg);
	scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

pre::-webkit-scrollbar-button {
	display: none;
}

pre::-webkit-scrollbar {
	height: 8px;
}

pre::-webkit-scrollbar-track {
	background: transparent;
}

pre::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.2);
}

html.dark pre::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.2);
}

pre code {
  counter-reset: line;
}

pre code [data-line] {
  display: block;
  counter-increment: line;
  padding-left: 2.5rem;
  position: relative;
}

pre code [data-line]::before {
  content: counter(line);
  position: absolute;
  left: 0;
  width: 0.5rem;
  text-align: right;
  color: #888;
  user-select: none;
}

figcaption[data-rehype-pretty-code-title] {
	position: relative;
	padding: 0.5rem;
	color: #383A42;
	background: #FAFAFA;
	border-top-left-radius: 0.375rem;
	border-top-right-radius: 0.375rem;
	border-bottom: #ECECEC solid 1px;
	font-family: "Reddit Sans", sans-serif;
}

html.dark figcaption[data-rehype-pretty-code-title] {
	color: #EEFFFF;
	background: #212121;
	border-bottom: #555555 solid 1px;
}

.mermaid-source {
	padding-top: 20px;
	padding-bottom: 20px;
}

.hidden-scroll {
	overflow-x: auto;
	scrollbar-width: none;
	-ms-overflow-style: none
}

.hidden-scroll::-webkit-scrollbar {
	display: none;
}

