---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout>
  <main class="py-4">
    <a
      class="flex justify-center sm:block cursor-pointer"
      href="https://www.linkedin.com/in/sebastianurdaneguibisalaya/"
      target="_blank"
    >
      <Image
        src="/image-profile.webp"
        alt="Profile image"
        width={130}
        height={130}
        class="sm:float-right self-center mb-4 sm:ml-4 rounded-full grayscale hover:grayscale-0 transition-all duration-300 ease-in-out"
      />
    </a>
    <p
      class="prose dark:prose-invert font-reddit w-full mt-[1.25em] mb-[1.25em]"
    >
      I’m a Full-Stack Developer, Data Analyst & Scientist from Lima, Peru.
      Currently, I specialize in creating web and mobile applications using
      modern stacks: React, React Native, Node.js and Python. My goal is clear:
      create products that impact a large number of people, combining my
      technical vision with a user-oriented mindset.
    </p>
    <p
      class="prose dark:prose-invert font-reddit w-full mt-[1.25em] mb-[1.25em]"
    >
      My journey began with analytics and data science in Python, where I gained
      a solid foundation in logic and algorithms. This experience inspired me to
      create my first two open-source libraries: <a
        href="https://github.com/SebastianUrdaneguiBisalaya/py-portfolio-analytics"
        class="underline"
        target="_blank">pyportfolioanalytics</a
      >
      <span class="font-bold">with over 2K downloads</span>, and <a
        href="https://github.com/SebastianUrdaneguiBisalaya/py-financial-analysis"
        class="underline"
        target="_blank">pyFinancialAnalysis</a
      >
      <span class="font-bold">with over 1.6K downloads</span>, tools designed to
      simplify financial analysis.
    </p>
    <p
      class="prose dark:prose-invert font-reddit w-full mt-[1.25em] mb-[1.25em]"
    >
      Driven by the desire to build comprehensive solutions, I expanded my
      skills through self-taught mobile development. This path of constant
      learning not only allowed me to master key technologies like JavaScript
      and React, but also led me to obtain a Full-Stack Developer scholarship,
      consolidating my training and my ability to adapt and grow in a constantly
      evolving technology environment.
    </p>
    <h2
      class="text-left font-sora text-dark/60 dark:text-gray-400 text-lg w-full mt-[1.25em] mb-[1.25em]"
    >
      Experience
    </h2>
    <p
      class="prose dark:prose-invert font-reddit w-full mt-[1.25em] mb-[1.25em]"
    >
      - <a
        href="https://aiblabla.com"
        target="_blank"
        class="font-bold font-sora underline">aiblabla</a
      > | <span class="font-light italic">Co-Founder & CTO</span>. A web
      platform to boost your conversations in any context. It understands,
      translates, and formulates clear and effective responses in real time,
      regardless of the situation. Ideal for sales, customer service, meetings,
      language learning, and more.
    </p>
    <p
      class="prose dark:prose-invert font-reddit w-full mt-[1.25em] mb-[1.25em]"
    >
      - <a
        href="https://github.com/SebastianUrdaneguiBisalaya/suscripto.manager"
        target="_blank"
        class="font-bold font-sora underline">suscripto.manager</a
      > | <span class="font-light italic">August 2025</span>. A web platform to
      organize all your subscriptions in one place.
    </p>
    <p
      class="prose dark:prose-invert font-reddit w-full mt-[1.25em] mb-[1.25em]"
    >
      - <a
        href="https://github.com/SebastianUrdaneguiBisalaya/emotify.ai"
        target="_blank"
        class="font-bold font-sora underline">emotify.ai</a
      > | <span class="font-light italic">August 2025</span>. An AI-powered web
      platform for music recommendations integrated with Spotify.
    </p>
    <p
      class="prose dark:prose-invert font-reddit w-full mt-[1.25em] mb-[1.25em]"
    >
      - <a
        href="https://github.com/SebastianUrdaneguiBisalaya/kooko-ai-frontend"
        target="_blank"
        class="font-bold font-sora underline">kooko.ai</a
      > | <span class="font-light italic">June 2025</span>. Forget about
      paperwork. Send a photo to our Telegram bot, and our AI model will extract
      the data, making it available on the web dashboard.
    </p>
    <p
      class="prose dark:prose-invert font-reddit w-full mt-[1.25em] mb-[1.25em]"
    >
      - <a
        href="https://drive.google.com/file/d/1m6yJws18WElIgCyvGVjreQMW86qtawWD/view"
        target="_blank"
        class="font-bold font-sora underline"
        >Hackathon Huancavelica Vida Segura</a
      > | <span class="font-light italic">1<sup>st</sup> Top - March 2025</span
      >. A competition organized by Innova ESAN and the Incubator of the
      National University of Huancavelica. The challenge was to design a digital
      solution to improve the monitoring of child growth in Huancavelica. We
      developed an MVP that allows parents and health personnel to view
      check-ups and vaccines from their mobile phones, with automatic alerts and
      auditory translation into Quechua.
    </p>
    <p
      class="prose dark:prose-invert font-reddit w-full mt-[1.25em] mb-[1.25em]"
    >
      - <span class="font-bold font-sora"
        >Full-Stack Developer - Make It Real Camp</span
      > | <span class="font-light italic">August - December 2024</span>. In
      collaboration with my team, I designed and developed a complete web
      application—frontend and backend—to find local events using technologies
      like React, TailwindCSS, Typescript, Node.js, Express.js, SQL, and REST
      APIs. I implemented features such as event search by date range and name,
      advanced filters by category and price, and a ticket purchasing system
      integrated with Stripe.
    </p>
    <p
      class="prose dark:prose-invert font-reddit w-full mt-[1.25em] mb-[1.25em]"
    >
      - <a
        href="https://drive.google.com/file/d/1PgR3nWq_D70cUymndbIIoMdnuadQaPiG/view"
        target="_blank"
        class="font-bold font-sora underline"
        >Datathon Exprésate Perú con Datos</a
      > | <span class="font-light italic"
        >4<sup>th</sup> Top - September 2023</span
      >. A competition organized by the Secretariat of Government and Digital
      Transformation of Peru. The topic of my analysis was the valuation of rest
      days due to work accidents at a national level. The dataset was provided
      by the Ministry of Labor and Employment Promotion.
    </p>
    <p
      class="prose dark:prose-invert font-reddit w-full mt-[1.25em] mb-[1.25em]"
    >
      - <span class="font-bold font-sora"
        >Business Strategy Intern - Treasury - Banco de Crédito del Perú</span
      > | <span class="font-light italic">January 2023 - May 2024</span>. I led
      the development of the Contactability Campaign, implementing automated
      processes to ensure compliance with guidelines and generating email alerts
      that ensured everyone exceeded their goals. I developed an automated flow
      that notifies the team when a client reached their target exchange rate,
      generating an approximate transaction volume of 500K PEN in 4 months. I
      designed an enablement flow to validate client requirements for operating
      financial derivatives.
    </p>
  </main>
</Layout>
