---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout>
  <main class="py-4">
    <article>
      <a
        class="flex justify-center sm:block cursor-pointer"
        href="https://www.linkedin.com/in/sebastianurdaneguibisalaya/"
        target="_blank"
      >
        <Image
          src="/image-profile.webp"
          alt="Profile image"
          width={130}
          height={130}
          class="sm:float-right self-center mb-4 sm:ml-4 rounded-full grayscale hover:grayscale-0 transition-all duration-300 ease-in-out"
        />
      </a>
      <p
        class="prose dark:prose-invert font-reddit w-full mt-[1.25em] mb-[1.25em]"
      >
        Soy desarrollador Full-Stack, Data Analyst y Scientist de Lima, Perú.
        Actualmente, me especializo en la creación de aplicaciones web y móviles
        utilizando un stack moderno: React, React Native, Node.js y Python. Mi
        objetivo es claro: crear productos que impacten a un gran número de
        personas, combinando mi visión técnica con una mentalidad orientada al
        usuario.
      </p>
      <p
        class="prose dark:prose-invert font-reddit w-full mt-[1.25em] mb-[1.25em]"
      >
        Mi trayectoria comenzó con el análisis y la ciencia de datos en Python,
        donde adquirí una base sólida en lógica y algoritmos. Esta experiencia
        me inspiró a crear mis dos primeras librerías de código abierto: <a
          href="https://github.com/SebastianUrdaneguiBisalaya/py-portfolio-analytics"
          class="underline">pyportfolioanalytics</a
        > y <a
          href="https://github.com/SebastianUrdaneguiBisalaya/py-financial-analysis"
          class="underline">pyFinancialAnalysis</a
        >, herramientas diseñadas para simplificar el análisis financiero.
      </p>
      <p
        class="prose dark:prose-invert font-reddit w-full mt-[1.25em] mb-[1.25em]"
      >
        Movido por el deseo de construir soluciones de extremo a extremo,
        expandí mis habilidades de forma autodidacta hacia el desarrollo móvil.
        Este camino de aprendizaje constante no solo me permitió dominar
        tecnologías clave como JavaScript y React, sino que también me llevó a
        obtener una beca de desarrollador Full-Stack, consolidando mi formación
        y mi capacidad para adaptarme y crecer en un entorno tecnológico en
        constante cambio.
      </p>
      <h2
        class="text-left font-sora text-dark/60 dark:text-gray-400 text-lg w-full mt-[1.25em] mb-[1.25em]"
      >
        Experiencia
      </h2>
      <p
        class="prose dark:prose-invert font-reddit w-full mt-[1.25em] mb-[1.25em]"
      >
        - <a
          href="https://aiblabla.com"
          target="_blank"
          class="font-bold font-sora underline">aiblabla</a
        > | <span class="font-light italic">Co-Founder & CTO</span>. Plataforma
        web para potenciar tus conversaciones en cualquier contexto. Comprende,
        traduce y formula respuestas claras y efectivas en tiempo real, sin
        importar la situación. Ideal para ventas, atención al cliente,
        reuniones, aprendizaje de idiomas y más.
      </p>
      <p
        class="prose dark:prose-invert font-reddit w-full mt-[1.25em] mb-[1.25em]"
      >
        - <a
          href="https://github.com/SebastianUrdaneguiBisalaya/suscripto.manager"
          target="_blank"
          class="font-bold font-sora underline">suscripto.manager</a
        > | <span class="font-light italic">Agosto 2025</span>. Plataforma web
        para organizar todas tus suscripciones en un solo lugar.
      </p>
      <p
        class="prose dark:prose-invert font-reddit w-full mt-[1.25em] mb-[1.25em]"
      >
        - <a
          href="https://github.com/SebastianUrdaneguiBisalaya/emotify.ai"
          target="_blank"
          class="font-bold font-sora underline">emotify.ai</a
        > | <span class="font-light italic">Agosto 2025</span>. Plataforma web
        de recomendaciones musicales con IA y Spotify.
      </p>
      <p
        class="prose dark:prose-invert font-reddit w-full mt-[1.25em] mb-[1.25em]"
      >
        - <a
          href="https://github.com/SebastianUrdaneguiBisalaya/kooko-ai-frontend"
          target="_blank"
          class="font-bold font-sora underline">kooko.ai</a
        > | <span class="font-light italic">Junio 2025</span>. Olvídate del
        papeleo. Envía una foto a nuestro bot de Telegram, el modelo de IA
        extraerá los datos y los tendrás disponibles en el panel web.
      </p>
      <p
        class="prose dark:prose-invert font-reddit w-full mt-[1.25em] mb-[1.25em]"
      >
        - <a
          href="https://drive.google.com/file/d/1m6yJws18WElIgCyvGVjreQMW86qtawWD/view"
          target="_blank"
          class="font-bold font-sora underline"
          >Hackathon Huancavelica Vida Segura</a
        > | <span class="font-light italic"
          >1<sup>er</sup> Lugar - Marzo 2025</span
        >. Concurso organizado por Innova ESAN y la Incubadora de la Universidad
        Nacional de Huancavelica. El reto fue diseñar una solución digital para
        mejorar el seguimiento del crecimiento infantil en Huancavelica.
        Desarrollamos un MVP que permite a padres y personal de salud visualizar
        controles y vacunas desde el celular, con alertas automáticas y
        traducción auditiva al quechua.
      </p>
      <p
        class="prose dark:prose-invert font-reddit w-full mt-[1.25em] mb-[1.25em]"
      >
        - <span class="font-bold font-sora"
          >Full-Stack Developer - Make It Real Camp</span
        > | <span class="font-light italic">Agosto - Diciembre 2024</span>. En
        colaboración con mi equipo, diseñé y desarrollé una aplicación web
        completa—frontend y backend—para buscar eventos en tu localidad usando
        tecnologías como React, TailwindCSS, Typescript, Node.js, Express.js,
        SQL, APIs Rest. Implementé funcionalidades como la búsqueda de eventos
        por rango de fechas y por nombres, filtros avanzados por categorías y
        precio, y un sistema de compra de tickets integrado con Stripe.
      </p>
      <p
        class="prose dark:prose-invert font-reddit w-full mt-[1.25em] mb-[1.25em]"
      >
        - <a
          href="https://drive.google.com/file/d/1PgR3nWq_D70cUymndbIIoMdnuadQaPiG/view"
          target="_blank"
          class="font-bold font-sora underline"
          >Datathon Exprésate Perú con Datos</a
        > | <span class="font-light italic"
          >4<sup>to</sup> Lugar - Setiembre 2023</span
        >. Concurso organizado por la Secretaría de Gobierno y Transformación
        Digital del Perú. El tópico de mi análisis fue la valorización de los
        días de descanso por accidentes laborales a nivel nacional. El dataset
        fue proporcionado por el Ministerio de Trabajo y Promoción del Empleo.
      </p>
      <p
        class="prose dark:prose-invert font-reddit w-full mt-[1.25em] mb-[1.25em]"
      >
        - <span class="font-bold font-sora"
          >Practicante de Estrategia Comercial - Tesorería - Banco de Crédito
          del Perú</span
        > | <span class="font-light italic">Enero 2023 - Mayo 2024</span>.
        Dirigí el desarrollo de la Campaña de Contactabilidad, implementando
        procesos automatizados para garantizar el cumplimiento de los
        lineamientos, generando alertas por correo que aseguraron que todos
        superaran sus metas. Desarrollé un flujo automatizado que notifica al
        equipo cuando el cliente alcanzaba su tipo de cambio objetivo, generando
        un volumen de transacciones aproximado de 500K PEN en 4 meses. Diseñé un
        flujo de habilitación para validar los requisitos de los clientes para
        operar derivados financieros.
      </p>
    </article>
  </main>
</Layout>
